<div>
    <h2 id="page-heading">
        <span>Credit Request Statuses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-credit-request-status" [routerLink]="['/credit-request-status/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Credit Request Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="creditRequestStatuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Credit Request Status Id</span></th>
            <th><span>Credit Request Status Description</span></th>
            <th><span>Credit Request Status Export</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let creditRequestStatus of creditRequestStatuses ;trackBy: trackId">
                <td><a [routerLink]="['/credit-request-status', creditRequestStatus.id, 'view' ]">{{creditRequestStatus.id}}</a></td>
                <td>{{creditRequestStatus.creditRequestStatusId}}</td>
                <td>{{creditRequestStatus.creditRequestStatusDescription}}</td>
                <td>{{creditRequestStatus.creditRequestStatusExport}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/credit-request-status', creditRequestStatus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/credit-request-status', creditRequestStatus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'credit-request-status', { outlets: { popup: creditRequestStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
