<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="callLogAction">
            <h2><span>Call Log Action</span> {{callLogAction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Call Log Action Id</span></dt>
                <dd>
                    <span>{{callLogAction.callLogActionId}}</span>
                </dd>
                <dt><span>Call Log Action Description</span></dt>
                <dd>
                    <span>{{callLogAction.callLogActionDescription}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/call-log-action', callLogAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
