<div>
    <h2 id="page-heading">
        <span>Sales People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sales-person" [routerLink]="['/sales-person/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sales Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="salesPeople">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Sales Person Id</span></th>
            <th><span>Sales Person Code</span></th>
            <th><span>Sales Person Name</span></th>
            <th><span>Sales Person Mail</span></th>
            <th><span>Sales Person Inactive</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salesPerson of salesPeople ;trackBy: trackId">
                <td><a [routerLink]="['/sales-person', salesPerson.id, 'view' ]">{{salesPerson.id}}</a></td>
                <td>{{salesPerson.salesPersonId}}</td>
                <td>{{salesPerson.salesPersonCode}}</td>
                <td>{{salesPerson.salesPersonName}}</td>
                <td>{{salesPerson.salesPersonMail}}</td>
                <td>{{salesPerson.salesPersonInactive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sales-person', salesPerson.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sales-person', salesPerson.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sales-person', { outlets: { popup: salesPerson.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
