<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salesPerson">
            <h2><span>Sales Person</span> {{salesPerson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sales Person Id</span></dt>
                <dd>
                    <span>{{salesPerson.salesPersonId}}</span>
                </dd>
                <dt><span>Sales Person Code</span></dt>
                <dd>
                    <span>{{salesPerson.salesPersonCode}}</span>
                </dd>
                <dt><span>Sales Person Name</span></dt>
                <dd>
                    <span>{{salesPerson.salesPersonName}}</span>
                </dd>
                <dt><span>Sales Person Mail</span></dt>
                <dd>
                    <span>{{salesPerson.salesPersonMail}}</span>
                </dd>
                <dt><span>Sales Person Inactive</span></dt>
                <dd>
                    <span>{{salesPerson.salesPersonInactive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sales-person', salesPerson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
