<div>
    <h2 id="page-heading">
        <span>Credit Return Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-credit-return-type" [routerLink]="['/credit-return-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Credit Return Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="creditReturnTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Credit Return Type Id</span></th>
            <th><span>Credit Return Type Description</span></th>
            <th><span>Credit Return Type Arrange Return</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let creditReturnType of creditReturnTypes ;trackBy: trackId">
                <td><a [routerLink]="['/credit-return-type', creditReturnType.id, 'view' ]">{{creditReturnType.id}}</a></td>
                <td>{{creditReturnType.creditReturnTypeId}}</td>
                <td>{{creditReturnType.creditReturnTypeDescription}}</td>
                <td>{{creditReturnType.creditReturnTypeArrangeReturn}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/credit-return-type', creditReturnType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/credit-return-type', creditReturnType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'credit-return-type', { outlets: { popup: creditReturnType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
