<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-credit-return-type-heading">Create or edit a Credit Return Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!creditReturnType.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="creditReturnType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditReturnTypeId">Credit Return Type Id</label>
                    <input type="number" class="form-control" name="creditReturnTypeId" id="field_creditReturnTypeId"
                        [(ngModel)]="creditReturnType.creditReturnTypeId" required/>
                    <div [hidden]="!(editForm.controls.creditReturnTypeId?.dirty && editForm.controls.creditReturnTypeId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creditReturnTypeId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.creditReturnTypeId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditReturnTypeDescription">Credit Return Type Description</label>
                    <input type="text" class="form-control" name="creditReturnTypeDescription" id="field_creditReturnTypeDescription"
                        [(ngModel)]="creditReturnType.creditReturnTypeDescription" required/>
                    <div [hidden]="!(editForm.controls.creditReturnTypeDescription?.dirty && editForm.controls.creditReturnTypeDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creditReturnTypeDescription?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creditReturnTypeArrangeReturn">Credit Return Type Arrange Return</label>
                    <input type="checkbox" class="form-control" name="creditReturnTypeArrangeReturn" id="field_creditReturnTypeArrangeReturn"
                        [(ngModel)]="creditReturnType.creditReturnTypeArrangeReturn" />
                    <div [hidden]="!(editForm.controls.creditReturnTypeArrangeReturn?.dirty && editForm.controls.creditReturnTypeArrangeReturn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creditReturnTypeArrangeReturn?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
