<div>
    <h2 id="page-heading">
        <span>App Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app-user" [routerLink]="['/app-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new App User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="appUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>App User Id</span></th>
            <th><span>App User Username</span></th>
            <th><span>App User Password</span></th>
            <th><span>App User Name</span></th>
            <th><span>App User Mail</span></th>
            <th><span>Role Id</span></th>
            <th><span>Company Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appUser of appUsers ;trackBy: trackId">
                <td><a [routerLink]="['/app-user', appUser.id, 'view' ]">{{appUser.id}}</a></td>
                <td>{{appUser.appUserId}}</td>
                <td>{{appUser.appUserUsername}}</td>
                <td>{{appUser.appUserPassword}}</td>
                <td>{{appUser.appUserName}}</td>
                <td>{{appUser.appUserMail}}</td>
                <td>
                    <div *ngIf="appUser.roleIdId">
                        <a [routerLink]="['../role', appUser.roleIdId , 'view' ]" >{{appUser.roleIdId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appUser.companyIdId">
                        <a [routerLink]="['../company', appUser.companyIdId , 'view' ]" >{{appUser.companyIdId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/app-user', appUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app-user', appUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'app-user', { outlets: { popup: appUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
