<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ermesUser">
            <h2><span>Ermes User</span> {{ermesUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ermes User Id</span></dt>
                <dd>
                    <span>{{ermesUser.ermesUserId}}</span>
                </dd>
                <dt><span>Ermes User Username</span></dt>
                <dd>
                    <span>{{ermesUser.ermesUserUsername}}</span>
                </dd>
                <dt><span>Ermes User Password</span></dt>
                <dd>
                    <span>{{ermesUser.ermesUserPassword}}</span>
                </dd>
                <dt><span>Ermes User Name</span></dt>
                <dd>
                    <span>{{ermesUser.ermesUserName}}</span>
                </dd>
                <dt><span>Ermes User Mail</span></dt>
                <dd>
                    <span>{{ermesUser.ermesUserMail}}</span>
                </dd>
                <dt><span>Role Id</span></dt>
                <dd>
                    <div *ngIf="ermesUser.roleId">
                        <a [routerLink]="['/role', ermesUser.roleId?.id, 'view']">{{ermesUser.roleId?.id}}</a>
                    </div>
                </dd>
                <dt><span>Company Id</span></dt>
                <dd>
                    <div *ngIf="ermesUser.companyId">
                        <a [routerLink]="['/company', ermesUser.companyId?.id, 'view']">{{ermesUser.companyId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ermes-user', ermesUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
