<div>
    <h2 id="page-heading">
        <span>Ermes Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ermes-user" [routerLink]="['/ermes-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ermes User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ermesUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ermes User Id</span></th>
            <th><span>Ermes User Username</span></th>
            <th><span>Ermes User Password</span></th>
            <th><span>Ermes User Name</span></th>
            <th><span>Ermes User Mail</span></th>
            <th><span>Role Id</span></th>
            <th><span>Company Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ermesUser of ermesUsers ;trackBy: trackId">
                <td><a [routerLink]="['/ermes-user', ermesUser.id, 'view' ]">{{ermesUser.id}}</a></td>
                <td>{{ermesUser.ermesUserId}}</td>
                <td>{{ermesUser.ermesUserUsername}}</td>
                <td>{{ermesUser.ermesUserPassword}}</td>
                <td>{{ermesUser.ermesUserName}}</td>
                <td>{{ermesUser.ermesUserMail}}</td>
                <td>
                    <div *ngIf="ermesUser.roleId">
                        <a [routerLink]="['../role', ermesUser.roleId?.id, 'view' ]" >{{ermesUser.roleId?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ermesUser.companyId">
                        <a [routerLink]="['../company', ermesUser.companyId?.id, 'view' ]" >{{ermesUser.companyId?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ermes-user', ermesUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ermes-user', ermesUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ermes-user', { outlets: { popup: ermesUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
